// app global css in SCSS form
.text-prediction {
  color: $prediction !important;
}
.bg-prediction {
  background: $prediction !important;
}
.text-question {
  color: $question !important;
}
.bg-question {
  background: $question !important;
}
.text-reflection {
  color: $reflection !important;
}
.bg-reflection {
  background: $reflection !important;
}
.text-statement {
  color: $statement !important;
}
.bg-statement {
  background: $statement !important;
}
